/* Common Style */
body {
	font-family: "Helvetica Neue",Helvetica,"Roboto Regular",Arial,sans-serif;
	font-size:14px;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 99999999;
}

.header{
	background-color: #337ab7;
	padding: 15px 0;
	margin: 0;
	text-align: center;
	color: #FFFFFF;
	position: fixed;
	width:100%;
	z-index:999999;
}

.sectionDivider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.sectionDividerBorder{
	clear:both;
	border-bottom: 2px solid #dddddd;
}

.sectionDivider > span {
    position: relative;
    display: inline-block;
}

.sectionDivider > span:before,
.sectionDivider > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: #dddddd;
}

.sectionDivider > span:before {
    right: 100%;
    margin-right: 15px;
}

.sectionDivider > span:after {
    left: 100%;
    margin-left: 15px;
}

.sectionVerticalDivider .divider {
    position: relative;
    margin-left: 14px;
    border-left: 1px solid #E1E1E1;
    height: 180px;
    top: 0;
    left: 2px;
}

.sectionVerticalDivider .divider-text {
    position: relative;
    top: -100px;
    background-color: #ffffff;
    color: #656565;
    font-size: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    margin: 0;
    padding: 8px;
}

.select_style 
{
	background: #FFF;
	overflow: hidden;
	display: inline-block;
	color: #525252;
	width: 100%;
    height: 34px;
	font-weight: 300;
	-webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	-moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
	box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	border: solid 1px #DADADA;
	font-family: "helvetica neue",arial;
	position: relative;
	cursor: pointer;
	padding-right:20px;

}
.select_style span
{
	position: absolute;
	right: 10px;
	width: 8px;
	height: 8px;
	background: url(../images/arrow.png) no-repeat;
	top: 50%;
	margin-top: -2px;
}
.select_style select
{
	-webkit-appearance: none;
	appearance:none;
	width:100%;
	background:none;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	padding:7px 10px;
    font-weight: 400;
    color: #555555;
}

.buttonHolder{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #cccccc;
    padding-left: 200px;
    left: 0;
    z-index: 10;
}

.secondary {
	background-color: #ebebeb !important;
}

.primary{
	background-color: #337ab7 !important;
	color: #FFF !important;
}

.primary a{
	color: #FFF !important;
	text-decoration: none !important;
}

.secondary a{
	color: #000 !important;
	text-decoration: none !important;
}
/* Common Style */


.loginSection {
	margin:86px 0 30px 0;
}

.registerSection {
	margin: 30px auto;
	width: 100%;
	max-width: 500px;
}

.registerScreenOnly .registerSection {
    margin-top: 86px;
}

.registerScreen .container{
	background-color: #f9f9f9;
	padding-bottom: 20px;
}

.registerAction{
	margin: 10px auto;
	width: 100%;
	max-width: 500px;
}

.newUser {
	margin: 30px 0 0 0;
}

.italics {
	margin-top: 5px;
	font-style: italic;
	font-size: 11px;
	padding-right: 5px;
}

.registerSection .row {
	display: flex;
	margin-bottom: 20px;
}

.registerSection .row>div{
	display: flex;
	align-items:center;
	flex-wrap:wrap;
}

.socialSignOn .errorText{
    padding: 0;
}

.errorText{
	font-size: 12px;
	color: #CF3D3D;	
}

.inputError{
	border: 1px solid #CF3D3D;
}

.phoneContainer {
	position: relative;
}

.phoneText{
	position: absolute;
    padding: 8px 6px;
    background: #cccccc;
    border-radius: 4px 0 0 4px;
}

.phoneText.inputError{
	border: 1px solid #CF3D3D;
    padding: 7px;
    border-right: none;
    height:34px;
}

.phone{
	padding-left: 40px;
}

input{
	padding: 6px 8px;
}

.registerSection div:last-child{
	margin-bottom: 0px;
}


/* Login Screen*/
.userDetails {
	margin: 30px 0;
}
.userDetails div{
	margin-bottom: 10px;
}

.signup-other {
	padding: 0;
}
.signup-other a {
    display: block;
    color: #fff;
    padding: 0;
    font-size: 14px;
    font-family: dinnextproregular;
    margin: 20px 0;
    padding: 8px 20px 3px 20px;
    width: 100%;
    max-width: 260px;
}

a.signup-g {
    background: #dc4b38;
    height: 50px;
    padding: 0;
}

a.signup-fb {
    background: #48629b;
    height: 50px;
    padding: 0;
}

.signup-other a small {
    display: inline-block;
    height: 26px;
    width: 26px;
    background: url(../images/sprite_social.png) no-repeat;
    background-position: 0 0;
}

.signup-other a small {
    background: url(../images/sprite_social.png) no-repeat;
    background-position: 0 0;
    background-size: 41px 26px;
}

a.signup-g small {
    background-position: 0px 0px;
}

a.signup-fb small {
    background-position: -26px 0px;
    width: 20px;
}

.signup-other a span {
    vertical-align: top;
    margin: 4px 0 0 20px;
    display: inline-block;
    text-transform: uppercase;
}

.signup-other .signup-g, .signup-other .signup-fb {
    width: 286!important;
    padding: 10px!important;
}

.signup-other.col-xs-12 {
    float: none;
}

.signInAction{
	font-size: 24px;
	cursor: pointer;
	color: #999999;
	padding-top: 4px;
}

.updateSuccesful {
    display: none !important;
    padding: 0;
}

.iShow{
    display: block !important;
}

.updateSuccesful img{
    width: 20px;
}

.modal{
    z-index:999999;
}

#changePasswordModal .row,
#forgotPasswordModal .row,
#missingInfoModal .row{
    margin: 10px 0;
}

/* Login Section */



button a {
	color: #000;
	text-decoration: none;
}

button a.signUp{
	color: #FFF;
}

.createSymptom .row{
	margin: 15px -15px;
}

.memberWidget {
    padding: 20px 10px;
}

.member{
    float: left;
    width: 100%;
    background-color: #ffffff;
    border:1px solid #666666;
    padding: 10px 0px 10px 15px;
}

.member>div{
    padding: 0;
}

.addNewMember, .addAddress{
    margin-left: 10px;
}

.marginZero{
    margin: 0px !important;
}

.tab-content>div {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    background: #FFF;
}

.tab-content textarea{
    border-color: #efefef;
    padding: 10px; 
}

.buttonHolder button{
    width:100px;
}

.prescriptionBody{
    float: left;
    width: 100%;
}

.prescriptionRow{
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dashed #999;
}

.prescriptionRow input[type="text"] {
    width: 100%;
    height: 34px;
}

.prescriptionRow .frequency{
    height: 34px;
    padding: 8px 0;
}

.prescriptionRow .customChk{
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    width: 14px;
    height: 14px;
}

.prescriptionRow input[type="checkbox"] {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.prescriptionRow input[type="checkbox"] + div, .prescriptionRow input[type="checkbox"]:checked + div{
    position: absolute;
    top: 0;
    font-size: 16px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;    
}

.prescriptionRow input[type="checkbox"] + div:before{
    content: "0";
}

.prescriptionRow input[type="checkbox"]:checked + div:before{
    content: "1";
}

.prescriptionRow>div{
    height: 45px;
    padding: 5px;
    float: left;
}

.prescriptionRow:last-child{
    border-bottom: none;
}

.prescriptionBody .drugCol{
    width:30%;
}

.prescriptionBody .schCol{
    width:14%;
}
.prescriptionBody .freqCol{
    width:14%;
}
.prescriptionBody .doseCol{
    width:14%;
}
.prescriptionBody .unitCol{
    width:14%;
}
.prescriptionBody .daysCol{
    width:14%;
}

.createSymptom textarea{
    width: 100%;
    height: 200px;
    outline: 0 !important;
}

.dashboard .userRoleSwitch{
    margin:10px 50px;
}

.dashboard .noConsultation{
    margin:15px;
}

.dashboard .heading,
.summary .heading{
    background:#c6c6c6;
    padding:10px;
}

.summary .heading{
    margin: 10px 0;
}

.summary .row{
    margin: 10px 0;
}

.summary .notes{
    white-space: pre-wrap;
}

.summary .prescRow{
    float: left;
    width: 100%;
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #cdcdcd;
}

.summary .drugSelector{
    float: left;
    width: 2%;
}

.summary .drugSelector input{
    width: 100%;
    font-size: x-large;
    margin: 0;
}

.summary .drugDetail{
    float: left;
    width: 98%;
}

.summary .selectAll{
    float:right;
}

.summary .selectAll a{
    color: #000 !important;
    text-decoration: underline !important;
}

.dashboard ul{
    list-style-type: none;
    float:left;
    width:100%;
    padding:0;
}

.dashboard ul li{
    float:left;
    width:100%;
    border-bottom: 1px dashed #cdcdcd;
    padding: 10px 0;
}

.dashboard ul li:last-child{
    border-bottom: none;
}

.dashboard ul li>div{
    margin-top: 5px;
}

.dashboard .symptoms{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.adminStepsHead {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    text-decoration: underline;
}

@media (max-width: 1290px) {
    .prescriptionBody .freqCol{
        width:16%;
    }
    .prescriptionBody .daysCol{
        width:12%;
    }
}

@media (max-width: 1170px) {
    .prescriptionBody .freqCol{
        width:18%;
    }
    .prescriptionBody .doseCol{
        width:12%;
    }
}

@media (max-width: 820px) {
    .prescriptionBody .freqCol{
        width:20%;
    }
    .prescriptionBody .doseCol{
        width:10%;
    }    
}

@media (max-width: 767px) {
    .prescriptionBody .drugCol{
        width:100%;
    }

    .prescriptionBody .schCol{
        width:40%;
    }
    .prescriptionBody .freqCol{
        width:60%;
    }
    .prescriptionBody .doseCol{
        width:30%;
    }
    .prescriptionBody .unitCol{
        width:40%;
    }
    .prescriptionBody .daysCol{
        width:30%;
    }
    .nav>li>a{
        padding: 10px;
    }
    .buttonHolder{
        padding-left: 0px !important;
    }
    .summary .drugSelector{
        width: 4%;
    }
    .summary .drugDetail{
        float: left;
        width: 96%;
    }
}

/* Sidebar Styles */

.navbar-toggle.custom{
    position: fixed;
    z-index:999999;
    border-color: #FFF;
    top: 3px;
    left: 10px;

}

.navbar-toggle.custom .icon-bar{
    background-color: #FFF;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    top: 56px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #333A4D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top:56px;
}

#page-content-wrapper .container{
    width: 100% !important;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

.sidebar-nav {
    position: absolute;
    top: 90px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .welcomeContainer{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    position: relative;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dddddd;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav li.active div {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid white;
    right: 0;
    top: 15px;
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
    
@media (max-width: 1080px) {
    .hideLeftNav .navbar-toggle.custom{
        position: fixed;
        border-color: #FFF;
        top: 3px;
        left: 10px;
    }

    .hideLeftNav .navbar-toggle.custom .icon-bar{
        background-color: #FFF;
    }

    .hideLeftNav #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .hideLeftNav #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 200px;
        width: 0;
        height: 100%;
        margin-left: -200px;
        overflow-y: auto;
        background: #333A4D;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .hideLeftNav #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }

    .hideLeftNav #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
    }

    .hideLeftNav #page-content-wrapper .container{
        width: 100% !important;
    }

    .hideLeftNav #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -200px;
    }

    .hideLeftNav .sidebar-nav {
        position: absolute;
        top: 70px;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .hideLeftNav .navbar-toggle {
        display: block;
    }
}