<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popUpTitle">
                <div class="title">Add Address</div>
                <span class="cross"></span>
            </div>
            <div class="modal-body robotoregular">
                <div class="row" id="avError" style="display:none;">
                    <div class="col-xs-12">
                        <div class="errorText"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Title</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="label" id="label" placeholder="Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Address 1</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="address1" id="address1" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Address 2</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="address2" id="address2" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">City</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="city" id="city" placeholder="City">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">State</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="state" id="state" placeholder="State">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Zip</div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip">
                    </div>
                </div>
            </div>
            <div class="modal-footer robotolight">
                <button type="button" class="btn secondary btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn primary btn-default addAddressAction">Add</button>
            </div>
        </div>
    </div>
</div>
