<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popUpTitle">
                <div class="width85per">{{title}}</div>
                <span class="cross"></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">{{message}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="confirmSubmit btn primary btn-default">Yes</button>
                <button type="button" class="btn secondary btn-default cancelButton" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
